{% extends '_base.twig' %}


{% block all %}
    {% set active = 'navLinkCoffee' %}
    {{ parent() }}
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col pt-4">
                <h1>Coffee</h1>
                <p class="lead">We work with specialty coffee from current crops which is carefully roasted. Our coffee
                    is fruity, juicy and never boring. We bring you the best from leading european specialty roasteries,
                    currently mostly from <a href="http://squaremilecoffee.com">Square Mile Coffee Roasters</a>, a multi
                    award winning coffee roasting company based in East London.</p>

                <p>You can currently buy these beans in 350 g bags</p>

                <div class="card-deck ghc-coffee-list">
                    {% for coffee in coffees %}
                        {% if loop.index0%2 == 0 %}
                            <div class="w-100"></div>
                        {% endif %}
                        <div class="card bg-light border-light mb-4">
                            <h2 class="card-header">{{ coffee.name }} ({{ coffee.origin }})</h2>

                            <img class="card-img-top" src="/img/{{ coffee.image }}"  alt="Bag of {{ coffee.name }}">

                            <div class="card-body">
                                <p class="font-italic">{{ coffee.tastes|join(" / ")|lower }}</p>
                                <p>{{ coffee.tastingNotes }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
